<div id="trips" class="mx-auto md:w-2/3 w-full">
  <% @trips.each do |trip| %>
    <%= render 'own_trip', trip: trip %>
    <div class="mb-8">
      <%= link_to 'Editar', edit_trip_path(trip), class: "float-left mr-2 rounded-lg py-3 px-5 bg-lime-300 inline-block font-medium" %>

      <%= button_to 'Eliminar', trip, method: :delete, class: "float-left mr-2 rounded-lg py-3 px-5 bg-red-300 inline-block font-medium" %>

      <%= link_to 'Ver Reservas', trip_reservations_path(trip), class: "rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium" %>
    </div>
  <% end %>
</div>
