<div class="mx-auto md:w-2/3">
  <div class="mx-auto">
    <% if notice.present? %>
      <div class="bg-amber-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4">
        <p><%= notice %></p>
      </div>
    <% end %>

    <%= render @trip %>

    <%= link_to 'Reservar', edit_trip_path(@trip), class: "rounded-lg py-3 px-5 bg-lime-300 inline-block font-medium" %>

  </div>
</div>
