<div class="mx-auto md:w-2/3">
  <div class="mx-auto">
    <%= render @trip %>

    <% if @trip.profile.id != current_user.profile.id %>
      <% if @trip.reservations.map { |r| r.profile_id == current_user && r.status == 'sent' } %>
        <span class="rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium">Reserva enviada</span>
      <% else %>
        <%= link_to 'Reservar', new_trip_reservation_path(@trip), class: "rounded-lg py-3 px-5 bg-lime-300 inline-block font-medium" %>
      <% end %>
    <% end %>

  </div>
</div>
