<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", profile: @profile %>

  <%= link_to t('views.profiles.edit.back'), profile_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mt-4" %>
</div>
