<% if @reservations.empty? %>
  <h1>¡Vaya, parece que aún no has hecho ningúna reserva!</h1><br>
<% end %>

<div class="mx-auto md:w-2/3">
  <% @reservations.each do |reservation| %>
    <%= render 'home/trip_card', trip: reservation.trip %>
  <% end %>
</div>