<% if @trips.empty? %>
  <h1><%= t('views.dashboard.no_trips') %></h1><br>

  <%= link_to t('views.dashboard.new_trip'), new_trip_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto mt-4 px-5 py-2.5 text-center" %>
<% end %>

<div class="mx-auto md:w-2/3">
  <% @trips.each do |t| %>
    <%= render 'trip_card', trip: t %>
  <% end %>
</div>
