<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola,</h1>
    <p>
      El usuario <%= @reservation.profile_request.username %>,
      acaba de hacer una reserva para tu viaje a: <%= @trip.destination %>.<br>
    </p>
    <p>¡Gracias y que tengas un buen día!</p>
  </body>
</html>
