
<div class="flex flex-row max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="basis-1/4">
    <svg class="w-10 h-10 mb-2 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>
  <div class="basis-3/4">
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"><%= vehicle.brand %> <%= vehicle.model %></h5>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Tipo: <%= t("activerecord.attributes.vehicle.vehicle_type.#{vehicle.vehicle_type}") %></p>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Color: <%= t("activerecord.attributes.vehicle.color.#{vehicle.color}") %></p>
  </div>
</div>