<div class="mx-auto md:w-1/3">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @vehicle %>
    <div class="mt-4">
      <%= link_to 'Editar', edit_vehicle_path(@vehicle), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Eliminar', vehicle_path, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-100 font-medium" %>
      </div>
    </div>
  </div>
</div>
